.card-tooltip {
  @apply transition-all bg-background-100 opacity-0 p-6 absolute pointer-events-none select-none w-full z-10;

  border-radius: 6px;
  box-shadow: 0 14px 30px rgba(var(--color-shadow-blue), 0.15), 0 4px 4px rgba(var(--color-shadow-blue), 0.05);
  min-width: 290px;
  position: absolute;

  &:before {
    box-shadow: 0 14px 30px rgba(var(--color-shadow-blue), 0.1), 0 4px 4px rgba(var(--color-shadow-blue), 0.02);
    color: rgb(var(--color-gray-100));
    position: absolute;
    top: 15%;
  }
  svg {
    @apply text-[19px];
  }

  &.top {
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);

    &:before {
      width: 0;
      height: 0;
      content: "";
      z-index: 2;
      transform: scale(1.01) translateX(-50%);
      border-top: 0.6rem solid currentColor;
      border-left: 0.4rem solid transparent;
      border-right: 0.4rem solid transparent;
      top: 100%;
      left: 50%;
    }
  }

  &.right {
    margin-left: 18px;
    left: 100%;
    top: 5px;
    &:before {
      width: 0;
      height: 0;
      content: "";
      z-index: 2;
      transform: scale(1.01);
      border-right: 0.6rem solid currentColor;
      border-bottom: 0.4rem solid transparent;
      border-top: 0.4rem solid transparent;
      right: 100%;
    }
  }

  &.left {
    margin-right: 18px;
    right: 100%;
    top: 5px;
    &:before {
      width: 0;
      height: 0;
      content: "";
      z-index: 2;
      transform: scale(1.01);
      border-left: 0.6rem solid currentColor;
      border-bottom: 0.4rem solid transparent;
      border-top: 0.4rem solid transparent;
      left: 100%;
    }
  }
  &__header {
    display: grid;
    grid-template-columns: auto 60px;
    font-weight: 600;
    color: rgb(var(--color-gray-800));
    font-size: 16px;
  }
  &__studios {
    color: var(--media-text);
    font-size: 13px;
    font-weight: 700;
    margin-top: 10px;
  }

  &__info {
    color: rgb(var(--color-gray-700));
    font-size: 13px;
    font-weight: 600;
    margin-top: 6px;
  }
  &__date {
  }
  &__score {
    @apply flex;
  }
  &__percentage {
    display: inline-flex;
    padding-left: 7px;
  }

  &__separator {
    padding: 0 4px;
  }
  &__genres {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 22px;
  }
  &__genre.anime-genres {
    font-size: 12px;
    text-transform: lowercase;
  }
}

.anime-card {
  &:hover {
    .card-tooltip {
      opacity: 1;
    }
  }

  &:hover &__title {
    color: var(--media-text);
  }
}

.anime-card {
  .anime-genres {
    background: var(--media-background);
    color: var(--media-background-text);
  }
}
.anime-card-inline {
  .anime-genres {
    background: var(--media-background);
    color: var(--media-background-text);
  }

  &__title {
    &:hover {
      color: var(--media-text);
    }
  }
}

.anime-card-rect {
  @apply bg-background-100;
  box-shadow: 0 14px 30px rgba(var(--color-shadow-blue), 0.15), 0 4px 4px rgba(var(--color-shadow-blue), 0.05);
  .anime-genres {
    background: var(--media-background);
    color: var(--media-background-text);
  }
  &__inside-image {
    background-color: rgba(var(--color-overlay), 0.9);
    &:before {
      background: var(--media-background);
      content: "";
      height: 100%;
      left: 0;
      opacity: 0.1;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 3;
    }
  }
}
