.card-tooltip {
  --media-text: hsl(14, 80%, 70%);
  --media-background: hsl(43, 83%, 55%);
  --media-background-text: hsl(14, 80%, 30%);
  --media-overlay-text: hsl(14, 80%, 70%);

  @apply transition-all bg-background-100 opacity-0 p-6 absolute pointer-events-none select-none w-full z-10;

  border-radius: 6px;
  box-shadow: 0 14px 30px rgba(var(--color-shadow-blue), 0.15), 0 4px 4px rgba(var(--color-shadow-blue), 0.05);
  min-width: 290px;
  position: absolute;
  top: 5px;

  &:before {
    box-shadow: 0 14px 30px rgba(var(--color-shadow-blue), 0.1), 0 4px 4px rgba(var(--color-shadow-blue), 0.02);
    color: rgb(var(--color-gray-100));
    position: absolute;
    top: 15%;
  }
  svg {
    @apply text-[19px];
  }

  &.right {
    margin-left: 18px;
    left: 100%;
    &:before {
      width: 0;
      height: 0;
      content: "";
      z-index: 2;
      transform: scale(1.01);
      border-right: 0.6rem solid currentColor;
      border-bottom: 0.4rem solid transparent;
      border-top: 0.4rem solid transparent;
      right: 100%;
    }
  }
  &__header {
    display: grid;
    grid-template-columns: auto 60px;
    font-weight: 600;
    color: rgb(var(--color-gray-800));
    font-size: 16px;
  }
  &__studios {
    color: var(--media-text);
    font-size: 13px;
    font-weight: 700;
    margin-top: 10px;
  }

  &__info {
    color: rgb(var(--color-gray-700));
    font-size: 13px;
    font-weight: 600;
    margin-top: 6px;
  }
  &__date {
  }
  &__score {
    @apply flex;
  }
  &__percentage {
    display: inline-flex;
    padding-left: 7px;
  }

  &__separator {
    padding: 0 4px;
  }
  &__genres {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 20px;
    overflow: hidden;
    margin-top: 22px;
  }
  &__genre {
    background: var(--media-background);
    border-radius: 10px;
    color: var(--media-background-text);
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    margin-right: 11px;
    padding: 0 12px;
    text-transform: lowercase;
  }
}

.anime-card {
  &:hover {
    .card-tooltip {
      opacity: 1;
    }
  }
}
